/* General styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #833ab4, #fd1d1d,#fcb045);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 900px;
}

/* Form box styles */
.form-container {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  width: 360px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes content apart */
  height: auto; /* Set a fixed height */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-grid {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 10px; /* Space between buttons */
  margin-top: auto;
  width: 100%;
  max-width: 300px; /* Set max width to align properly */
}

.btn {
  padding: 10px;
  background-color: #03bafc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: 16px;
}

.btn:hover {
  background-color: #03fcbe;
  color: #000;
}

/* Response box styles */
.response-container {
  background-color: #fff;
  color: #000;
  font-family: monospace;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;

}

.response-container h2 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}

.response-box {
  background-color: #f4f4f4;
  color: #333;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  overflow-y: auto;
  text-align: left;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

/* animation */
.lottie-animation {
  width: 150px;
  height: 150px;
  margin: auto;
}